{% extends 'base.html.twig' %}

{% block title %}Recettes de cuisine{% endblock %}

{% block body %}
    <p class="py-2 text-center text-white text-bg-warning">Vous êtes sur la page d'accueil</p>
{% endblock %}
